# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
.nyc_output
*.lcov

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# build output
/.next/
.out/
/.nuxt
dist
.build
.cache
.parcel-cache

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# env files (can opt-in for committing if needed)
.env*
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vercel
.vercel

# Misc
.DS_Store
*.pem

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
